.profileContainer{
    margin: auto;
}

.image{
    width: 22% !important;
    border: 0.3vw solid rgb(255, 255, 255);
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.profileGrayPaper{
    background-color: #666666;
    color: gray;
}

#paperCont{
    margin: auto;
    width: 30%;
    position: absolute;
    top: 3% !important;
    left: 35%;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 51%, rgba(214,214,214,1) 51%);
}

.arrowback{
    cursor: pointer;
}